html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: white;
    font-family: Ubuntu;
    height: 2cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    position: fixed;
    width: 80%;
    z-index: 1000;
}

.cadranContact a {
    font-size: x-large;
    font-family: "Roboto Thin";
}


.cadranResa {
    margin-top: 1cm;
    margin-left: 0.9cm;
    height: 14cm;
    width: 13cm;
    background-color: white;
}

.cadranRouge {
    margin-top: 1cm;
    height: 5cm;
    width: 13cm;
    background-color: #c82540;
}


.cadranRouge h3 {
    font-size: 1.3em;
    text-align: center;
    color: white;
    padding-top: 0.5cm;
}

.cadranRouge p {
    color: white;
    align-items: center;
    text-align: center;
}

a {
    font-family: "Rasa Light";
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid #f9b200;
}

.full-width {
    width: 100%;
    height: auto;
}

.cadranContact {
    background-color: gray;
    width: 30vw;
}

.textHours {
    margin-left: 0.9cm;
    width: 22cm;
    max-height: 13cm;
    overflow-y: scroll;
}


.cadranContact {
    background-color: rgba(255, 255, 255, 0.89);
    height: 105vh;
    width: 30vw;
    position: absolute;
    top: 85px;
    left: 33.3cm;
}


.events{
    display: flex;
    justify-content: center;
}


.events > img {
    margin-top: 20px;
    margin-left: 10px;
    height: 10cm;
}

.cadranHours {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.cadranHours  {
    font-size: 15px;
}

.cadranHours p {
    color: gray;
}

.hoursBlack > img {
    margin-right: 0.5cm;
    height: 14.5cm;
    width: 10.8cm;
}

h2 {
    font-family: Ubuntu;
    color: #c82641;
    text-align: center;
    margin-top: 2cm;
}

h3 {
    font-family: Ubuntu;
}

.hautLeft img {
    height: 10cm;
    width: 15cm;
}

.hautLeft {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hautRight img {
    height: 10cm;
    width: 15cm;
}

.hautRight {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hautParty {
    display: flex;
    justify-content: space-between;
    margin-top: 2cm;
    margin-right: 7.5cm;
    margin-left: 7.5cm;
}


.basLeft img {
    height: 10cm;
    width: 15cm;
}

.basLeft {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.basRight img {
    height: 10cm;
    width: 15cm;
}

.basRight {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.basParty {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5cm;
    margin-right: 7.5cm;
    margin-left: 7.5cm;
}

.buttonUn{
    transition: 0.5s;
    font-family: Ubuntu;
    background-color: #f9b200;
    color: black;
    border: none;
    height: 1.5cm;
    width: 5cm;
}

.buttonUn:hover{
    transition: 0.5s;
    background-color: black;
    color: white;
}

.buttons {
    margin-top: 1cm;
}

.buttonDeux{
    transition: 0.5s;
    font-family: Ubuntu;
    background-color: #c82540;
    color: white;
    border: none;
    height: 1.5cm;
    width: 5cm;
}

.buttonDeux:hover{
    transition: 0.5s;
    background-color: #f9b200 ;
    color: black;
}


.cadran {
    margin-top: 2cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.bestOf {
    display: flex;
    justify-content: space-between;
    margin-right: 6cm;
    margin-left: 6cm;
}

.event {
    margin-top: 2cm;
    margin-left: 6.6cm;
}

.text {
    color: white;
}

.text h1 {
    font-family: Ubuntu;
    font-size: 150px;
}

.text h3 {
    font-family: Ubuntu;
    font-size: 30px;
}

.text button {
    width: 20cm;
}

.b {
    font-size: 1.5em;
}

.titre {
    font-size: 1.3em;
}

.reseaux {
    display: flex;
    justify-content: space-between;
    margin-top: 50%;
}

.facebook>i{
    font-size: 2em;
    margin-left: 5cm;

}

.insta {
    font-size: 2em;
    margin-left: 1cm;
}

.messenger > i {
    font-size: 2em;
    margin-right: 5cm;
}

.booking {
    font-family: Ubuntu;
    margin-top: 1cm;
    display: flex;
    justify-content: center;
}


.buttonNum {
    margin-top: 1cm;
    margin-left: 5cm;
    transition: 0.5s;
    font-family: Ubuntu;
    font-size: 1.3em;
    background-color: #c82540;
    color: white;
    border: none;
    height: 1.5cm;
    width: 5cm;
}

.buttonNum:hover{
    transition: 0.5s;
    background-color: #f9b200 ;
    color: black;
}











